@charset "UTF-8";
/*Map de colores para cards y animacion rainbow*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.area-grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 150px auto 200px;
  grid-template-columns: auto;
  grid-template-areas: "header" "section" "footer";
}

header {
  grid-area: header;
  background-image: url(../img/header_img.png);
  background-size: auto;
}

/*******NAV********/
nav {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-top: 10px;
  padding-right: 150px;
}

.bar-btn {
  padding-left: 150px;
  cursor: pointer;
}

.nav__menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 150px;
  background: black;
  text-align: center;
  transition: all 0.5s;
}
.nav__menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
}
.nav__menu li a {
  color: #00FFC6;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.nav__menu li a:hover {
  color: #F806CC;
}

#check {
  display: none;
}

#check:checked ~ .nav__menu {
  height: 100vh;
  width: 100%;
  z-index: 30;
}

#check:checked ~ .nav__menu li {
  display: block;
}

footer {
  grid-area: footer;
  background-image: url(../img/layered-waves-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  position: static;
}

/*background: linear-gradient(90deg,#5e2a80 0%, #c04e86 40%, #c04e86 40%, #5e2a80 80%);
background: -webkit-linear-gradient(90deg,#5e2a80 0%, #c04e86 40%, #c04e86 40%, #5e2a80 80%);
background: -moz-linear-gradient(90deg,#5e2a80 0%, #c04e86 40%, #c04e86 40%, #5e2a80 80%);*/
.footer__cosas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 200px;
}
.footer__cosas .footer__redes {
  display: flex;
}
.footer__cosas .footer__redes img {
  padding: 20px;
}
.footer__cosas .footer__links ul {
  display: flex;
  flex-direction: row;
  justify-content: space space-around;
}
.footer__cosas .footer__links ul li {
  padding: 20px;
  color: #fff;
}
.footer__cosas .footer__copyright {
  color: rgb(129, 145, 145);
}

/**************SECCIONES,CONTENEDORES, CARDS, FORMS*************/ /*Map de colores para cards y animacion rainbow*/
section {
  grid-area: section;
  background-color: black;
}

.fila__1, .fila__2 {
  display: none;
}

/*aca use el extend*/
.section__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 70px;
}
.section__contenedor .section__titulo {
  text-align: center;
}
.section__contenedor .contenedor__descripcion {
  width: 370px;
  height: auto;
  border: 12px solid blue;
  background-color: #fff;
  border-top-left-radius: 60px 90px;
  border-bottom-right-radius: 60px 90px;
  box-shadow: 64px 64px 23ps 40px rgba(0, 0, 0, 0.4), 12px 12px 0px 18px rgba(0, 0, 0, 0.4);
}
.section__contenedor .contenedor__descripcion p {
  text-align: center;
  margin-top: 5%;
}

.card__contenedor {
  margin: 50px;
  width: 370px;
  height: auto;
  border: 12px solid orange;
  background-color: #fff;
  border-top-left-radius: 60px 90px;
  border-bottom-right-radius: 60px 90px;
  border-top-right-radius: 60px 90px;
  border-bottom-left-radius: 60px 90px;
  box-shadow: 64px 64px 23ps 40px rgba(0, 0, 0, 0.4), 12px 12px 0px 18px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.card__contenedor:hover {
  transform: scale(1.2);
}
.card__contenedor #card__2 {
  border: 12px solid red;
}
.card__contenedor #card__3 {
  border: 12px solid blue;
}
.card__contenedor #card__4 {
  border: 12px solid pink;
}
.card__contenedor #card__5 {
  border: 12px solid purple;
}
.card__contenedor .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.card__contenedor .card .card__imagen img {
  width: 250px;
  height: 350px;
  border-radius: 40px;
}
.card__contenedor .card .card__titulo h1 {
  padding-top: 20px;
  text-align: center;
}
.card__contenedor .card .card__description p {
  padding-top: 50px;
  margin-top: 30px;
  text-align: center;
  font-size: 150px;
}

.form__caja {
  background-color: black;
  margin-top: 10%;
  margin-bottom: 10%;
  color: #5CE1E6;
  width: 70%;
  margin-left: 15%;
  height: 100%;
  font-size: 30px;
  padding: 30px;
}
.form__caja fieldset {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 30px;
}

.form__caja fieldset {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 30px;
}

.item-field {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.btn {
  width: 100px;
  height: 50px;
  font-family: "Roboto Mono", monospace;
  color: #5CE1E6;
  background-color: black;
  border: 2px solid #00FFC6;
  margin-top: 50px;
  margin-left: 30px;
}

.contenedor__rainbow {
  height: 350px;
  width: 350px;
  position: absolute;
  border: 1px solid #fff;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0 20px 35px #fff;
  overflow: hidden;
}
.contenedor__rainbow:before {
  content: "";
  height: 150%;
  width: 150%;
  position: absolute;
  background: conic-gradient(#fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
  left: -25%;
  top: -25%;
  animation: spin 1.5s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
.contenedor__rainbow:after {
  content: "Bienvenidos a la página honor a una de las mejores epocas para la musica, el arte y el cine los 80!";
  position: absolute;
  background-color: black;
  height: 93%;
  width: 93%;
  top: 3.5%;
  left: 3.5%;
  border-radius: 5px;
  display: grid;
  place-items: center;
  color: #fff;
  letter-spacing: 6px;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .area-grid {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 150px auto 200px;
    grid-template-columns: 150px auto 150px;
    grid-template-areas: "header header header" "fila__1 section fila__2" "footer footer footer";
  }
  header {
    grid-area: header;
  }
  section {
    grid-area: section;
    background-color: #5800FF;
  }
  /*aca use el extend*/
  .fila__1, .fila__2 {
    grid-area: fila__1;
    background-color: #fff;
    display: block;
    background-image: url(../img/costados_img.png);
  }
  .fila__2 {
    grid-area: fila__2;
    background-color: #fff;
    display: block;
    background-image: url(../img/costados_img.png);
  }
  footer {
    grid-area: footer;
  }
  .section__contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 70px;
  }
  .card__contenedor {
    height: 800px;
  }
  .contenedor__descripcion {
    height: 800px;
  }
  .contenedor__descripcion p {
    margin-top: 25%;
  }
  .section__titulo {
    margin-top: 25%;
  }
  .contenedor__rainbow {
    width: 1000px;
  }
  .contenedor__rainbow:after {
    font-size: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
