*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body{
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;

  }
  

  .area-grid{
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows:150px auto 150px ;
    grid-template-areas:
    "header"
    "section"
    "footer";
    background-image: linear-gradient(
      to bottom right,
      map-get($colors, color1) 0%,
      map-get($colors, color2) 20%,
      map-get($colors, color3) 40%,
      map-get($colors, color4) 60%,
      map-get($colors, color5) 80%
    );
    background-size: 200% 200%;
    animation: movimiento 5s linear infinite alternate;
  }
  @keyframes movimiento{
    from{
      background-position: 0 0;
    }
    to{
      background-position: 100% 100%;
    }
  }

