*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body{
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
  
  }
  .area-grid{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 150px auto 200px;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "section"
    "footer";
  }

