/**************SECCIONES,CONTENEDORES, CARDS, FORMS*************/


.section__contenedor{
    display: flex;
    flex-direction: column;
    margin: 70px;
    justify-content: space-around;
    align-items: center;
        .section__titulo{
            text-align: center;
            
        }
        .contenedor__descripcion{
            width: 370px;
            height: auto;
            border: 12px solid blue;
            background-color: #fff;
            border-top-left-radius: 60px 90px;
            border-bottom-right-radius: 60px 90px;
            box-shadow: 64px 64px 23ps 40px rgba(0,0,0,0.4), 12px 12px 0px 18px rgba(0,0,0,0.4);

                p{
                    text-align: center;
                     margin-top: 5%;
                }
          }



  }

  .card__contenedor{
      &:hover{
        transform: scale(1.2);
      }
    margin: 50px;
    width: 370px;
    height: auto;
    border: 12px solid orange;
    background-color: #fff;
    border-top-left-radius: 60px 90px;
    border-bottom-right-radius: 60px 90px;
    border-top-right-radius: 60px 90px;
    border-bottom-left-radius: 60px 90px;
    box-shadow: 64px 64px 23ps 40px rgba(0,0,0,0.4), 12px 12px 0px 18px rgba(0,0,0,0.4);
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s ease-in-out;
      #card__2{
        border: 12px solid red;
      
      }
      #card__3{
        border: 12px solid blue;
      
      }
      #card__4{
        border: 12px solid pink;
      
      }
      #card__5{
        border: 12px solid purple;
      
      }
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 20px;
            .card__imagen{
                img {
                    width: 250px;
                    height: 350px;
                    border-radius: 40px;
                }
            }
             .card__titulo{
                h1{
                    padding-top: 20px;
                    text-align: center;
                }

            }
            .card__description{
                p{
                    padding-top: 50px;
                    margin-top: 30px;
                    text-align: center;
                    font-size: 150px;
                }
              }

          }

  }

  .form__caja{
    background-color: black;
    margin-top: 10%;
    margin-bottom: 10%;
    color: #5CE1E6;
    width: 70%;
    margin-left: 15%;
    height: 100%;
    font-size: 30px;
    padding: 30px;
        fieldset{
            display: flex;
            flex-direction: column;
            margin: 30px;
            padding: 30px;

        }
    
  }
  .form__caja fieldset{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
  }
  .item-field{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
  }
  .btn{
    width: 100px;
    height: 50px;
    font-family: 'Roboto Mono', monospace;
    color: #5CE1E6;
    background-color: black;
    border: 2px solid #00FFC6;
    margin-top: 50px;
    margin-left: 30px;
  
  }
  
  .contenedor__rainbow{
    height: 350px;
    width: 350px;
    position: absolute;
    border: 1px solid #fff;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 0 20px 35px #fff;
    overflow: hidden;
        &:before{
            content:"" ;
            height: 150%;
            width: 150%;
            position: absolute;
            background: conic-gradient(
            #fd004c,
            #fe9000,
            #fff020,
            #3edf4b,
            #3363ff,
            #b102b7,
            #fd004c
            );
            left: -25%;
            top: -25%;
            animation: spin 1.5s infinite linear;
        }
        @keyframes spin{
            100%{
                transform: rotate(-360deg);
            }
          }
        &:after{
            content: "Bienvenidos a la página honor a una de las mejores epocas para la musica, el arte y el cine los 80!";
            position: absolute;
            background-color: black;
            height: 93%;
            width: 93%;
            top: 3.5%;
            left: 3.5%;
            border-radius: 5px;
            display: grid;
            place-items: center;
            color: #fff;
            letter-spacing: 6px;
            font-size: 20px;
            text-align: center;

        }
  
  }
 